/* Red */

.background-red {
    background-color: #cc0000;
    color: white;
}
.background-red em {
    color: black;
}

/* White */

.background-white .btn-default {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #ccc;
}

/* Black */

.background-black {
    color: white;
    background-color: rgba(46,48,58,0.96);
}
.background-black em {
    color: #cc0000;
}
.background-black .btn-default {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #ccc;
}

/* Gray */

.background-gray {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}
.background-gray em {
    color: #cc0000;
}
.background-gray .btn-default {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #ccc;
}

/**
*
* Background Images
*
*/

.background {
    background-size: cover;
    background-position: center;
}

.background-sg6200nxl {
    background-image: url(backgrounds/sg6200.png);
}
.background-red-grunge {
    background-image: url(backgrounds/red-grunge.jpg);
    color: white;
}
.background-grey-chalkboard {
    background-image: url(backgrounds/grey-chalkboard.jpg);
}
.background-grey-crosses {
    background-image: url(backgrounds/grey-crosses.png);
    background-size: 50% auto;
    background-position: right bottom;
}
.background-contact {
    background-image: url(backgrounds/contact.png);
}
.background-solution-business {
    background-image: url(backgrounds/solution-business.png);
}
.background-solution-dealer {
    background-image: url(backgrounds/solution-dealer.png);
}
.background-solution-home {
    background-image: url(backgrounds/solution-home.png);
}
.background-solution-multitenancy {
    background-image: url(backgrounds/solution-multitenancy.png);
}
.background-solution-solar {
    background-image: url(backgrounds/solution-solar.png);
}
.background-solution-utility {
    background-image: url(backgrounds/solution-utility.png);
}

