/**
*
* Page and Body
*
* - make a gap at the top for the Nav bar
*
*/

body {
    padding-top: 120px;
}

p {
    font-size: 20px;
}

/**
*
* Fix issue with bottom scroll
*
*/

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

/**
*
* Responsive Containers
*
* - fit to gap
*
*/

.responsive-container {

}

.responsive-container img,
.responsive-container iframe,
.responsive-container object,
.responsive-container embed {
    width: 100%;
}

/**
*
* Headings
*
*/

@media (max-width: 767px) {
    h1 {
        font-size: 300%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 300%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 400%;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 400%;
    }
}

h2 {
    color: #cc0000;
}

/**
*
* Page Footer
*
*/

#buildings {
    background: #FFFFFF url(footer/buildings.png) no-repeat 50% 0%;
    height: 40px;
    margin-top: 45px;
}

#footer {
    background-image: url(backgrounds/red-grunge.jpg);
    background-size: cover;
    background-position: center;
    background-color: #cc0000;
    color: white;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

/**
*
* Products
*
*/

.product-main {
    margin-bottom: 100px;
}

.product-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
}

.product-purpose {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 20px;
}

.product-purpose-large {
    text-align: center;
    font-style: italic;
    font-size: 24px;
    padding-top: 50px;
}

/**
*
* Single Elements
*
*/

.callus-phone-number {
    font-size: 36px;
    font-weight: bold;
}