
/**
*
* The Message
*
*/

.the-message {
    padding: 50px 0;
    font-family: "calluna-sans", sans-serif;
    text-rendering: optimizelegibility;
}
.the-message .main {
    font-size: 2.5em;
    margin-bottom: 50px;
}
.the-message .medium {
    font-size: 2.0em;
    margin-bottom: 50px;
}
.the-message .extra {
    font-style: italic;
    font-size:  1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
.the-message .readmore {
    padding-top: 50px;
}
.the-message em {
    color: #cc0000;
}
@media (min-width: 768px) {
    .the-message {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    .the-message .main {
        font-size: 3em;
        margin-bottom: 70px;
    }
}
@media (min-width: 992px) {
    .the-message {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .the-message .main {
        font-size: 3.375em;
        margin-bottom: 100px;
    }
}
@media (min-width: 1200px) {
    .the-message {
        padding-top: 150px;
        padding-bottom: 100px;
    }
}

/* Lock size */

@media (min-width: 768px) {
    .lock-size {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 992px) {
    .lock-size {
        width: 700px;
    }
}

/* Main */

.the-message-main {
    height: 70vh;
    padding-top: 20vh;
}
@media (min-width: 768px) {
    .the-message-main .main {
        width: 700px;
        margin-left: auto ;
        margin-right: auto ;
    }
}
@media (min-width: 992px) {
    .the-message-main .main {
        width: 800px;
        margin-left: auto ;
        margin-right: auto ;
    }
}

/**
*
* Pull down
*
* - shows more content by little arrow
*
*/

.pull-down {
    height: 10vh;
    color: #cc0000;
    margin: 50px 0;
}

/**
*
* Solution Page
*
*/

.the-solution {
    border: 20px;
    border-color: red;
    border-width: 3px;
    padding: 20px;
    /*    text-align: center;*/
    height: 280px;
}

.the-solution .main {
    font-size: 24px;
    margin-bottom: 20px;
}

.the-solution .extra {
    margin-bottom: 20px;
    font-style: italic;
}

.the-solution .readmore {
    margin-bottom: 50px;
}

/**
*
* The message Skinny
*
* islike the message but skinnier
*
*/

.the-message-skinny {
    padding: 20px 0;
}
.the-message-skinny .main {
    margin-bottom: 20px;
}
.the-message-skinny .medium {
    margin-bottom: 20px;
}
.the-message-skinny .extra {
}
.the-message-skinny .readmore {
    padding-top: 20px;
}
.the-message-skinny em {
}
@media (min-width: 768px) {
    .the-message-skinny {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .the-message-skinny .main {
        margin-bottom: 70px;
    }
}
@media (min-width: 992px) {
    .the-message-skinny {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .the-message-skinny .main {
        margin-bottom: 50px;
    }
}
@media (min-width: 1200px) {
    .the-message-skinny {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

/* Lock size */

@media (min-width: 768px) {
    .lock-size {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 992px) {
    .lock-size {
        width: 700px;
    }
}
