</div>

<div id="buildings" class="building"></div>

<div id="footer-menu" class="footer-menu container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                Solutions for
                <ul class="list-unstyled">
                    <li><a href="/solutions/home">home</a></li>
                    <li><a href="/solutions/business">business</a></li>
                    <li><a href="/solutions/solar">solar professionals</a></li>
                    <li><a href="/solutions/dealers">dealers</a></li>
                    <li><a href="/solutions/multitenancy">apartments and multitenancy</a></li>
                    <li><a href="/solutions/utility">electricity and utility providers</a></li>
                    <li><a href="/solutions/manufacturing">manufacturing</a></li>
                    <li><a href="/solutions/schools">schools and education</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                Products
                <ul class="list-unstyled">
                    <li><a href="/solutions/home">Smart Gateway</a></li>
                    <li><a href="/solutions/business">Smart Clamp</a></li>
                    <li><a href="/solutions/solar">Smart Appliance</a></li>
                    <li><a href="/solutions/dealers">3 Phase</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="col-sm-4 col-md-3">
                    Links
                    <ul class="list-unstyled">
                        <li><a href="/solutions/contact">Support</a></li>
                        <li><a href="/solutions/dashboard">Dashboard</a></li>
                        <li><a href="/solutions/widgitboard">Widgitboard</a></li>
                        <li><a href="/solutions/dealer">Dealers</a></li>
                        <li><a href="/solutions/prices">Prices</a></li>
                        <li><a href="/solutions/user">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center-xs text-left">
                Copyright <i class="glyphicon glyphicon-copyright-mark"></i> 2011-2015 POWER TRACKER Pty Ltd<br />
                All rights reserved.
            </div>
            <div class="col-sm-6 text-center-xs text-right">
                KEEPING YOU IN CONTROL<br />
                CALL NOW ON 1300 936 383
            </div>
        </div>
    </div>
</footer>

{% include html-footer.html %}
